@import "tailwindcss";

:root {
  --background: #0d1117;
  --foreground: #e6edf3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
